/* @import url("reset.css"); */
@import url("micro-animation.css");
@import url("form-decoration.css");

/***************************************************

                GLOBAL

***************************************************/

:root {
  --bg-color: #242424;
  --bg-card: rgba(255, 255, 255, 0.1);
  --bg-channel: rgba(255, 255, 255, 0.1);
  --bg-table: rgba(255, 255, 255, 0.1);
  --hover-opacity: 0.8;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-link-color: rgba(255, 255, 255, 0.7);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
  margin-bottom: 0.2em;
}

li {
  list-style: none;
}

form {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;

  & > h1 {
    text-align: center;
  }

  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  & input[type="text"] {
    text-align: center;
    min-width: 280px;
    font-size: 1.1em;
    background-color: transparent;
    border: 0.1px solid #aaa;
  }

  & input:focus-visible {
    outline: 0.1px slid #535bf2;
  }

  &[data-visible="hidden"] {
    display: none;
  }
}

/* 
**************************************************

               CLASS SELECTOR                        

**************************************************
*/

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 14px;
}

.blocker {
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: black;
  place-content: center;
  place-items: center;
}

.blocker[data-isshow="true"] {
  position: fixed;
  opacity: var(--hover-opacity);
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
}

.view-area {
  width: 100%;
  font-size: 10px;
  color: #ddd;
}

.validation-message {
  color: red;
}

.result > * {
  margin-bottom: 1rem;
}

.result {
  table {
    --border-color: rgba(255, 255, 255, 0.3);
    --thead-text-color:rgba(255,255,255,0.5);
    --thead-text-color-descend:rgba(100,255,255, 0.7);
    --thead-text-color-ascend:rgba(255,255,100, 0.7);
    display: grid;
      grid-template-columns: minmax(3rem, 8rem) 1fr repeat(5, minmax(1rem, 2.5rem) );
    text-align: left;
    background-color: var(--bg-table);
    padding: 0.4rem;
    font-size: 0.8rem;
    thead,
    tbody,
    tr {
      display: contents;
    }
    thead {
      color: var(--thead-text-color);
      .off {
        color: inherit;
      }
      .ascend {
        font-weight: bold;
        color: var(--thead-text-color-ascend)
      }
      .descend {
        font-weight: bold;
        color: var(--thead-text-color-descend)
      }
      th:hover{
        filter: brightness(0.7);
        transition: all 0.1s ease-out;
        cursor: pointer;
      }
    }
    thead, tr {
    }
    tbody{

    }
    th, td {
      border-bottom: 1px solid var(--border-color);
      display: block;
      font-weight: normal;
    }
    th { }
    td { }
    a {
      color: var(--text-link-color);
      &:hover {
        text-decoration: underline;
        opacity: 0.8;
        transition: linear all 0.1s;
      }
    }
  }
}
.list-outer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #111;
  transition: 0.1s linear all;

  &:hover {
    opacity: var(--hover-opacity);
  }

  & > * {
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & > a {
    width: 140px;
    min-width: 140px;
  }

  & > a:hover {
    opacity: var(--hover-opacity);
  }

  & > div div + div {
    margin-bottom: 0.4em;
  }
}

.video-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.6em;

  &:hover {
    opacity: var(--hover-opacity);
    text-decoration: underline;
  }
}

.video-misc {
  display: flex;
  flex-direction: row;

  & > *:not(:first-child) {
    margin-left: 5px;
  }
}
.card-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
}
.card {
  min-width: 100px;
  padding: 1rem;
  border-radius: 0.6em;
  background-color: var(--bg-card);

  & h3 {
    font-size: 1.0em;
    color: #999;
  }

  & > p {
    font-size: 1rem;
    font-weight: bold;
    color: #eee;
  }
}

.channel {
  display: flex;
  flex-direction: row;
  padding: 1em;
  background-color: var(--bg-channel);

  &:hover {
    opacity: var(--hover-opacity);
  }
  & a:hover {
    cursor: pointer;
  }
}

.reel {
  display: flex;
  overflow-x: auto;
  gap: 1em;
  scrollbar-color: #ccc #222;

  &::-webkit-scrollbar {
    height: 0.4em;
  }
}
