/* @import url("reset.css"); */
@import url("micro-animation.css");
@import url("form-decoration.css");
@import url("variables.css");
/***************************************************

                GLOBAL

***************************************************/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--bgcolor-root);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
}

main {
  padding: 2.2em;

  & > * + * {
    margin-top: 1em;
  }
}

h1 {
  color: var(--color-h1);
}

h2 {
  color: var(--color-h2);
  border-bottom: 1px solid gray;
}

h1 + p,
h2 + p {
  color: var(--color-p-sub);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

li {
  list-style: none;
}

form {
  --font-size-field-label: 1.2em;
  --font-size-field-hint: 0.9em;
  --font-color-field-hint: #404040;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 600px;

  & > * + * {
    margin-top: 1em;
  }
}

form > .input-area {
  --form-background-color: #e0e0e0;
  --form-text-color: #202020;

  display: flex;
  justify-content: center;
  flex-direction: column;

  border: 0.1px solid gray;
  background-color: var(--form-background-color);
  padding: 1.5em 1em;

  & > * {
    display: flex;
    flex-direction: column;
    color: var(--form-text-color);
  }

  & > * + * {
    margin-top: 1em;
  }

  & label {
    display: block;
    & > span {
      display: block;
    }
    & span.field-label {
      font-size: var(--font-size-field-label);
      font-weight: bold;
    }
    & span.field-hint {
      font-size: var(--font-size-field-hint);
      color: var(--font-color-field-hint);
      line-height: 1.2;
    }
  }

  & .box {
    & > * + * {
      margin-top: 0.4em;
    }
  }

  & > div.radio-input-methods {
    legend {
      font-size: var(--font-size-field-label);
      font-weight: bold;
    }
    & > fieldset {
      border: none;
      margin: 0;
      padding: 0;
      & > * + * {
        margin-top: 0.4em;
      }
      & .field-radioButton {
        display: flex;
        gap: 0.2em;
        padding-left: 0.6em;
        background-color: #c0c0c0;
        border-radius: 0.1em;
        &:hover {
          opacity: 0.8;
        }
        & input {
          display: block;
        }
        & label {
          width: 100%;
          padding: 0.4em;
        }
      }
    }
  }

  & > .text-input {
    & .inner {
    }

    & input[type="text"] {
      display: block;
      width: 100%;
      background-color: var(--color-input-text-area);
      border: 1px solid #202020;
      padding: 0.1em;
      color: var(--color-input-text);
      font-size: 1.4em;
      text-align: left;
    }
    & input:focus-visible {
      outline: 0.1px solid #9090f2;
    }
  }

  &[data-visible="hidden"] {
    display: none;
  }
}

/* 
**************************************************

               CLASS SELECTOR                        

**************************************************
*/

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.blocker {
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: black;
  place-content: center;
  place-items: center;
}

.blocker[data-isshow="true"] {
  position: fixed;
  opacity: var(--opacity-hover);
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
}

.validation-message {
  color: red;
}

.result > * {
  margin-bottom: 1rem;
}

.result {
  table {
    --border-color: rgba(255, 255, 255, 0.3);
    --thead-text-color: rgba(255, 255, 255, 0.5);
    --thead-text-color-descend: rgba(100, 255, 255, 0.7);
    --thead-text-color-ascend: rgba(255, 255, 100, 0.7);
    display: grid;
    grid-template-columns: minmax(3rem, 8rem) 1fr repeat(
        5,
        minmax(1rem, 2.5rem)
      );
    text-align: left;
    background-color: var(--bgcolor-table);
    padding: 0.4rem;
    font-size: 0.8rem;
    thead,
    tbody,
    tr {
      display: contents;
    }
    thead {
      color: var(--thead-text-color);
      .off {
        color: inherit;
      }
      .ascend {
        font-weight: bold;
        color: var(--thead-text-color-ascend);
      }
      .descend {
        font-weight: bold;
        color: var(--thead-text-color-descend);
      }
      th:hover {
        filter: brightness(0.7);
        transition: all 0.1s ease-out;
        cursor: pointer;
      }
    }
    thead,
    tr {
    }
    tbody {
    }
    th,
    td {
      border-bottom: 1px solid var(--border-color);
      display: block;
      font-weight: normal;
    }
    th {
    }
    td {
    }
    a {
      color: var(--color-link);
      &:hover {
        text-decoration: underline;
        opacity: 0.8;
        transition: linear all 0.1s;
      }
    }
  }

  & .backToHome {
    & button {
      font-size: 1em;
      color: #c0c0ff;
      background: none;
      border: 0;
      border-bottom: 1px solid #c0c0ff;
      &:hover {
        opacity: 0.7;
      }
      &::before {
        content: "< ";
      }
      & span {
        font-size: 0.8em;
      }
    }
  }
}

.list-outer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 10px;
  border-radius: var(--borderradius-primary);
  background-color: #111;
  transition: 0.1s linear all;

  &:hover {
    opacity: var(--opacity-hover);
  }

  & > * {
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & > a {
    width: 140px;
    min-width: 140px;
  }

  & > a:hover {
    opacity: var(--opacity-hover);
  }

  & > div div + div {
    margin-bottom: 0.4em;
  }
}

.video-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.6em;

  &:hover {
    opacity: var(--opacity-hover);
    text-decoration: underline;
  }
}

.video-misc {
  display: flex;
  flex-direction: row;

  & > *:not(:first-child) {
    margin-left: 5px;
  }
}
.summary {
  --summary-label-color: var(--color-sub);
  --summary-label-font-size: 1em;
  --summary-text-color: var(--color-primary);
  --summary-text-font-size: 1rem;

  display: flex;
  gap: 0.4rem;

  .card {
    min-width: 100px;
    padding: 1rem;
    border-radius: var(--borderradius-primary);
    background-color: var(--bgcolor-card);
    & h3 {
      font-size: var(--summary-label-font-size);
      color: var(--summary-label-color);
    }
    & > p {
      font-size: var(--summary-text-font-size);
      font-weight: bold;
      color: var(--summary-text-color);
    }
  }
}

.channel {
  display: flex;
  flex-direction: row;
  padding: 1em;
  background-color: var(--bgcolor-card);
  border-radius: var(--borderradius-primary);

  &:hover {
    opacity: var(--opacity-hover);
  }
  & div a {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
  }
  & a:hover {
    cursor: pointer;
  }

  & > * + * {
    padding-left: 1em;
  }
}

.reel {
  display: flex;
  overflow-x: scroll;
  gap: 1em;
  scrollbar-color: #ccc #222;

  &::-webkit-scrollbar {
    height: 0.4em;
  }
}
