/* @import url("reset.css"); */
@import url("micro-animation.css");
@import url("form-decoration.css");

/***************************************************

                GLOBAL

***************************************************/

:root {
  --bg-color: #242424;
  --bg-card: rgba(255, 255, 255, 0.1);
  --bg-channel: rgba(255, 255, 255, 0.1);
  --bg-table: rgba(255, 255, 255, 0.1);
  --text-color: rgba(255, 255, 255, 0.87);
  --text-link-color: rgba(255, 255, 255, 0.7);
  --button-color-gray: #a0a0a0;
  --input-text-area-color: #e0e0e0;

  --border-radius-base: 0.4em;
  --hover-opacity: 0.8;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
}

main {
  padding: 1em;

  & > * + * {
    margin-top: 1em;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
  margin-bottom: 0.2em;
}

li {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 600px;

  & > * + * {
    margin-top: 1em;
  }
}

form > .input-area {
  --form-background-color: #c0c0c0;
  --form-text-color: #202020;

  display: flex;
  justify-content: center;
  flex-direction: column;

  border: 0.1px solid gray;
  background-color: var(--form-background-color);
  padding: 1em;

  & > * {
    display: flex;
    flex-direction: column;
    color: var(--form-text-color);
  }

  & > * + * {
    margin-top: 1em;
  }

  & label {
    display: block;
    & > span {
      display: block;
    }
    & span.field-label {
      font-weight: bold;
    }
    & span.field-hint {
    }
  }

  & > div.button-input-methods {
    & .inner {
      display: flex;
      border: 1px solid black;
      border-radius: 0.6em;
      overflow: hidden;

      & > button {
        flex: 1 1 20em;
        width: 10em;
        border: none;
        background-color: var(--button-color-gray);
        padding: 0.5em 1.4em;
        color: var(--text-color);
      }
      & > button + button {
        border-left: 1px solid #605050;
      }
      & > button:hover {
        opacity: 0.8;
      }
      & > button.input-method-selected {
        background-color: #00ab00; /* green */
      }
    }
  }

  & > .text-input {
    & .inner {
      background-color: var(--input-text-area-color);
      border: 1px solid #202020;
      padding: 0.4em;
    }

    & input[type="text"] {
      color: var(--text-color);
      text-align: center;
      max-width: 20em;
      font-size: 1.1em;
      text-align: left;
      background-color: transparent;
      border: none;
    }
    & input:focus-visible {
      outline: 0.1px slid #535bf2;
    }
  }

  &[data-visible="hidden"] {
    display: none;
  }
}

/* 
**************************************************

               CLASS SELECTOR                        

**************************************************
*/

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.blocker {
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: black;
  place-content: center;
  place-items: center;
}

.blocker[data-isshow="true"] {
  position: fixed;
  opacity: var(--hover-opacity);
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
}

.validation-message {
  color: red;
}

.result > * {
  margin-bottom: 1rem;
}

.result {
  table {
    --border-color: rgba(255, 255, 255, 0.3);
    --thead-text-color: rgba(255, 255, 255, 0.5);
    --thead-text-color-descend: rgba(100, 255, 255, 0.7);
    --thead-text-color-ascend: rgba(255, 255, 100, 0.7);
    display: grid;
    grid-template-columns: minmax(3rem, 8rem) 1fr repeat(
        5,
        minmax(1rem, 2.5rem)
      );
    text-align: left;
    background-color: var(--bg-table);
    padding: 0.4rem;
    font-size: 0.8rem;
    border-radius: var(--border-radius-base);
    thead,
    tbody,
    tr {
      display: contents;
    }
    thead {
      color: var(--thead-text-color);
      .off {
        color: inherit;
      }
      .ascend {
        font-weight: bold;
        color: var(--thead-text-color-ascend);
      }
      .descend {
        font-weight: bold;
        color: var(--thead-text-color-descend);
      }
      th:hover {
        filter: brightness(0.7);
        transition: all 0.1s ease-out;
        cursor: pointer;
      }
    }
    thead,
    tr {
    }
    tbody {
    }
    th,
    td {
      border-bottom: 1px solid var(--border-color);
      display: block;
      font-weight: normal;
    }
    th {
    }
    td {
    }
    a {
      color: var(--text-link-color);
      &:hover {
        text-decoration: underline;
        opacity: 0.8;
        transition: linear all 0.1s;
      }
    }
  }
}
.list-outer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 10px;
  border-radius: var(--border-radius-base);
  background-color: #111;
  transition: 0.1s linear all;

  &:hover {
    opacity: var(--hover-opacity);
  }

  & > * {
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & > a {
    width: 140px;
    min-width: 140px;
  }

  & > a:hover {
    opacity: var(--hover-opacity);
  }

  & > div div + div {
    margin-bottom: 0.4em;
  }
}

.video-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.6em;

  &:hover {
    opacity: var(--hover-opacity);
    text-decoration: underline;
  }
}

.video-misc {
  display: flex;
  flex-direction: row;

  & > *:not(:first-child) {
    margin-left: 5px;
  }
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
}
.card {
  min-width: 100px;
  padding: 1rem;
  border-radius: var(--border-radius-base);
  background-color: var(--bg-card);

  & h3 {
    font-size: 1em;
    color: #999;
  }

  & > p {
    font-size: 1rem;
    font-weight: bold;
    color: #eee;
  }
}

.channel {
  display: flex;
  flex-direction: row;
  padding: 1em;
  background-color: var(--bg-channel);
  border-radius: var(--border-radius-base);

  &:hover {
    opacity: var(--hover-opacity);
  }
  & div a {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
  }
  & a:hover {
    cursor: pointer;
  }

  & > * + * {
    padding-left: 1em;
  }
}

.reel {
  display: flex;
  overflow-x: auto;
  gap: 1em;
  scrollbar-color: #ccc #222;

  &::-webkit-scrollbar {
    height: 0.4em;
  }
}
